{
  "enableAllProjectMcpServers": true,
  "enabledMcpjsonServers": [
  ],
  "mcpServers": {
    "filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem"
      ]
    },
    "serena": {
      "type": "stdio",
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/oraios/serena",
        "serena",
        "start-mcp-server",
        "--context",
        "ide-assistant",
        "--project",
        "/home/your/path/to/project"
      ],
      "env": {}
    },
    "web-search": {
      "command": "npx",
      "args": [
        "-y",
        "@302ai/web-search-mcp"
      ]
    },
    "context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp@latest",
        "--api-key",
        "ctx7sk-2e0522a2-39d1-46a7-a0c7-6b545d3fee8c"
      ]
    },
    "code-reasoning": {
      "command": "npx",
      "args": [
        "-y",
        "@mettamatt/code-reasoning"
      ]
    },
    "sequential-thinking": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ]
    },
    "jetbrains": {
      "type": "sse",
      "url": "http://localhost:64342/sse",
      "headers": {
        "IJ_MCP_SERVER_PROJECT_PATH": "/home/your/path/to/project"
      }
    }
  }
}
