services:
    nginx:
      image: nginx:alpine
      ports:
        - "8000:443"
      env_file:
        - .env
      volumes:
        - ./docker/dev/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        - ./docker/dev/nginx/certs:/etc/nginx/certs:ro
#        - ./public:/var/www/html
        - ./public:/var/www/html/public:cached
      networks:
        - larpilot-network

    php:
      build:
        context: .
        dockerfile: docker/dev/Dockerfile
      volumes:
        - .:/var/www/html
        - ./docker/dev/php/php.ini:/usr/local/etc/php/conf.d/dev.ini
        - /var/www/html/var/cache
      depends_on:
        postgres:
          condition: service_started
      networks:
        - larpilot-network

    postgres:
      image: postgres:14.15-alpine3.21
      ports:
        - "5432:5432"
      restart: always
      environment:
        - POSTGRES_PASSWORD=password
        - POSTGRES_USER=larpilot
      volumes:
        - ./var/postgresql/data:/var/lib/postgresql/data
        - ./var/postgresql/logs:/var/log/postgresql:cached
      networks:
        - larpilot-network

    rabbitmq:
      image: rabbitmq:4-management-alpine
      ports:
        - "5672:5672"
        - "15672:15672"
      volumes:
        - ./var/rabbitmq/data:/var/lib/rabbitmq
        - ./var/rabbitmq/logs:/var/log/rabbitmq
      networks:
        - larpilot-network

    redis:
      image: redis:7.4-alpine
      ports:
        - "6379:6379"
      networks:
        - larpilot-network

networks:
    larpilot-network:
      driver: bridge