{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}{{ ''|trans }}{% endblock %}

