{% extends 'backoffice/base.html.twig' %}

{% block title %}Create Larp{% endblock %}

{% block body %}
    <h1>Create Larp</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}