{% extends 'public/base.html.twig' %}

{% block title %}{{ 'incident.create'|trans }}{% endblock %}

{% block body %}
    {% include 'includes/page_header.html.twig' with {
        title: 'incident.create'|trans,
        subtitle: 'Report a new incident',
        icon: 'bi bi-exclamation-triangle'
    } %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                {# Incident form will go here #}
                <p class="text-muted">Incident creation form coming soon...</p>
            </div>
        </div>
    </div>
{% endblock %}