{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ 'tag.file_select.title'|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    <h1>{{ 'tag.file_select.heading'|trans }}</h1>

    {% if files is not empty %}
        <div class="list-group">
            {% include 'backoffice/larp/partials/_sharedFileList.html.twig' with {
                files: files,
                configureMappingPath: 'backoffice_larp_integration_file_mapping',
                openFilePath: 'backoffice_larp_integration_file_open',
                useMappingPath: 'backoffice_larp_story_tag_import_from_mapping'
            } %}
        </div>
    {% else %}
        <p>{{ 'tag.file_select.no_files'|trans }}</p>
    {% endif %}
{% endblock %}
