.tree-list {
    list-style: none;
    padding-left: 0;
}

.tree-item {
    margin-bottom: 5px;
}

.tree-row {
    padding: 5px;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
}

.tree-row:hover {
    background-color: var(--bg-tertiary);
}

.checkbox-label {
    margin-right: 8px;
    float: right;
}

.tree-icon {
    margin-right: 5px;
}

.tree-label {
    cursor: pointer;
    transition: color 0.2s;
    color: var(--text-primary);
}

.tree-label:hover {
    color: var(--bo-primary);
}

.subfolders {
    margin-left: 20px;
}

/* Loader styling */
.loader {
    text-align: center;
}

.loading-icon {
    width: 18px;
    height: 18px;
}
