body {
    background-color: skyblue;
}

header {
    padding: 0.25rem;
    background-color: rgba(250,250,250,1);
}

a.nav-link.active {
    font-weight: bold;
}
#flashMessages {
    position: absolute;
    right: 0;
    bottom: 0;
}

#sidebarMenuButton {
    position: fixed;
    top: 1.75rem;
    right: 1rem;
    z-index: 1100;
}
#sidebarMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    background: #fff;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1050; /* Above main content */
}

:root {
    --bs-tertiary-bg: #f0f0f0;
    --bs-body-bg: #fff;
    --bs-body-color: #212529;
    --bs-border-color-translucent: var(--bs-primary);
}

.ts-control, .ts-wrapper.single.input-active .ts-control{
    cursor: pointer !important;
}

.loading-overlay {
    position: relative;
    opacity: 0.5;
    pointer-events: none;
}

.loading-overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
    border: 0.2rem solid #999;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    z-index: 10;
    background-color: transparent;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


.toggleIcon.rotate {
    transform: rotate(180deg);
}
.transition {
    transition: transform 0.3s ease;
}

.badge {
    color: #000 !important;
}