body {
    background-color: skyblue;
}

header {
    padding: 0.25rem;
    background-color: rgba(250,250,250,1);
}

a.nav-link.active {
    font-weight: bold;
}
#flashMessages {
    position: absolute;
    right: 0;
    bottom: 0;
}

#sidebarMenuButton {
    position: fixed;
    top: 1.75rem;
    right: 1rem;
    z-index: 1100;
}
#sidebarMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    background: #fff;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1050; /* Above main content */
}

:root {
    --bs-tertiary-bg: #f0f0f0;
    --bs-body-bg: #fff;
    --bs-body-color: #212529;
    --bs-border-color-translucent: var(--bs-primary);
}