{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}

    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">{{ 'backoffice.larp.story.main_title'|trans }}</h2>
                <div class="d-flex gap-2">
{#                    <a href="{{ path('backoffice_larp_story_event_modify', { larp: larp.id }) }}" class="btn btn-success">#}
{#                        {{ 'common.create'|trans }}#}
{#                    </a>#}
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            {% include 'includes/filter_form.html.twig' with { form: filterForm } %}

            <div>GRAPH</div>
        </div>
    </div>
{% endblock %}
