{# templates/components/StoryObjectRelationListForm.twig #}
<div {{ attributes }}>
    <div class="row">
    {% for relation in this.getExistingRelations() %}
        {{ component('StoryObjectRelationForm', {
            storyObject: storyObject,
            initialFormData: relation
        }) }}
    {% endfor %}

    {% if additionalForms > 0 %}
        {% for i in 0..(additionalForms - 1) %}
        {{ component('StoryObjectRelationForm', {
            storyObject: storyObject,
        }) }}
        {% endfor %}
    {% endif %}

    </div>

    <button
            data-action="live#action"
            data-live-action-param="addForm"
            type="button"
            class="btn btn-sm btn-success mt-2"
    >
        + {{ 'backoffice.larp.relation.add'|trans }}
    </button>
</div>