{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ 'incident'|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    <h1>{{ incident.caseId }}</h1>
    <p>{{ incident.description }}</p>
{% endblock %}
