{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ 'larp.mapping.title'|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
        <h3>{{ 'larp.mapping.heading'|trans }}</h3>
        {% if files is not empty %}
            <div class="list-group">
                {% include 'backoffice/larp/partials/_sharedFileList.html.twig' with {
                    files: files,
                    configureMappingPath: 'backoffice_larp_integration_file_mapping',
                    openFilePath: 'backoffice_larp_integration_file_open',
                    useMappingPath: null
                } %}
            </div>
        {% else %}
            <p>{{ 'integration.file_select.no_files'|trans }}</p>
        {% endif %}
{% endblock %}
