{% extends 'backoffice/larp/base.html.twig' %}

{% block title %}{{ 'backoffice.mapping.title'|trans }}{% endblock %}

{% block larp_content %}
        <h1>{{ 'backoffice.mapping.heading'|trans }} - {{ sharedFile.fileName }}</h1>
        {{ component('ExternalResourceMappingForm', {
            formData: form.vars.value,
            form: form,
            mimeType: sharedFile.mimeType,
        }) }}
{% endblock %}
