{% extends 'backoffice/base.html.twig' %}

{% block title %}{{ 'backoffice.spreadsheet_mapping.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'backoffice.spreadsheet_mapping.heading'|trans }}</h1>
        {{ component('SpreadsheetMappingForm', {
            formData: form.vars.value,
            form: form,
        }) }}
    </div>
{% endblock %}
