{% extends 'public/base.html.twig' %}

{% block body %}
    <div class="container py-5">
       Location placeholder
        has to have map (google map with pin), gallery of images, title, description, address, phone, email, website, opening hours, AND HISTORY OF LARPS played
    </div>
{% endblock %}